{% extends 'base.html' %}
<main class="form-signin">
    <form method='Post' action=''>
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="'form-group">
                {{ form.email.label(class='form-control-label') }}
                {{ form.email(class='form-control form-control-lg') }}
            </div>
            <div class="'form-group">
                {{ form.password.label(class='form-control-label') }}
                {{ form.password(class='form-control form-control-lg') }}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</main>
{% block stuff %}
<div class="h1">HEY</div>
{% endblock %}